<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Player</title>
</head>
<body>
    <p>The players' name is <%= name %>!</p>
    <img src="<%= playerImg %>">
    <img src="<%= teamImg %>">
    <button onclick="window.location.href = 'http://localhost:3000/'">Go Back</button>
</body>
</html>